#orange_bar{
    position:fixed;
    top: 0px;
    left:0px;
    width: 10000px;
    height:10px;
    background: #FFA500;
}


.fa:hover {
    opacity: 0.7;
}

body {
    margin: 0;
    background-color: #fff;
    color:black;
    font-family: Helvetica;
    font-size: 14px;
    text-transform: uppercase
    
}

footer {
clear: both;
    padding: 100px;
    margin: auto;
    width: 50%;
    margin-top: 100%;
  }

  a:link, a: visited {
      background-color: #f44336;
      color: white;
      padding: 7px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }

  a:hover, a:active {
      background-color:white;
  }

ul {
    top: 10px;
    margin: 0;
    padding:0;
    list-style-type: none;
    margin: 0;
    padding:0;
    width: 15%;
    position: fixed;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;

    
    
}

li a{
    display: block;
    color:#000;
    padding: 8px 16px;
    text-decoration: none;
}

li a: hover {
    background-color: #555;
    color: white;
}



      button {
        background-color: grey ;
        color: white;
        padding: 10px 10px;
        margin: 4px 0;
        border: black;
        cursor: pointer;
        width: 50%;
        top: 50%; 
        position: absolute;
       margin: auto;

      }


.button {
 padding-left:90px;
}

button {
    
    width:250px;
    margin: 0 auto;
}

form {
    * {box-sizing: border-box;}
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: blue;
  }
  
  
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 700px;
    length: 700px;
}

.email {
    margin-top: 4px;
}

.description {
    margin-top: 8px;
}
.submit {
    margin-top: 30px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .items{
      margin-top:8px;
  }

  .updateButton{
    position: absolute;
    right: 10px;
    top:100px;
  }
  table {
    border-collapse: collapse;
  }
  
  table, td, th {
    border: 1px solid black;
  }


  .results__heading {
    font-size: 110%;
  }

.results__display-wrapper {
    margin-top: 16px;
    margin-top: 1rem;
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    background: #f9fdfe;
    border: 1px solid 
    #cdcfcf;
    overflow-x: scroll;
  }
.interviews-form__input:focus,.interviews-form__input:active {
    border-color: #686a69;
    outline: 0;
  }

.interviews-form__button {
  display: block;
  margin: 8px 16px 0;
  margin: 0.5rem 1rem 0;
  padding: 0 16px 2px;
  padding: 0 1rem 0.125rem;
  background-color: #686a69;
  border: 0;
  color: #f9fdfe;
  font-family: lato, sans-serif;
  font-size: 100%;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-transform: uppercase;
  transition: 150ms all linear;
}

.interviews-form__button:hover,.interviews-form__button:active,.interviews-form__button:focus {
    background: #2a2f2c;
    cursor: pointer;
    outline: 0;
  }

.interviews-form__button {
margin-left: 150px;
margin-top:120px;

}

.items {
    margin-top: 25px;
}

.ghost {
    position: absolute;  left: -999999px;


}
.about-paragraph{
    word-wrap: break-word;
    width: 400px; 
  
}
.about-page {

  
}

:scope 

pattern: {min-height: 200px;}


.stripes {
  background-image: repeating-linear-gradient(45deg, #ccc, #ccc 30px, #dbdbdb 30px, #dbdbdb 60px);
}
